/*TODO: the styles are mess... importing on top of each other... should be reorganized if extended*/


.hashtag-poesy-container {
  font-family: monospace;
  text-align: center;
}

.fading-text-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fading-text {
  font-size: 32px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  height: 100%;
}

.fading-text.active {
  opacity: 1;
}
/* 
@keyframes rotateAnimation {
  from {
      transform: rotate(350deg);
  }
  to {
      transform: rotate(160deg);
  }
}

@keyframes reverseRotateAnimation {
  from {
      transform: rotate(160deg);
  }
  to {
      transform: rotate(350deg);
  }
} */


.active .upside-down {
  
  /* animation: rotateAnimation 500ms; */
}

.upside-down {
  transform: rotate(160deg);
}

.active .right-side-up {
  /* animation: reverseRotateAnimation 500ms; */
}

.right-side-up {
  transform: rotate(-10deg);
}

.animated-4 {
  height: 30px;
}

.stretched-H {
  transform: scale(2);
}

